.menu-items {
    background-color:white;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.each-item {
    padding: 20px;
}

.menu-img {
    width: 300px;
    height: 270px;
    background-color: rgb(236, 233, 233);
}

.menu-item-title{
    color: black;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}