.Span-div{
    margin-top: 105px;
}

.first-span{
    font-size: 16px;
    font-weight: 600;
    color: rgb(29, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

.main-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: rgb(29, 29, 29);
}

.span{
    font-weight: 700;
    font-size: 15px;
    color: rgb(29, 29, 29);
}

.long-span{
    font-weight: 400;
    width: 70%;
    margin-left: 15%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: rgb(45, 45, 45);
}