.item-img {
    width: 370px;
    height: 360px;

}

.item-bg-gray {
    background-color: rgba(235, 230, 230, 0.77);
}

.item-name {
    font-size: 19px;
    color: rgb(44, 43, 43);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.price {
    color: gray;
    font-weight: 600;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.item-ingridients {
    color: rgb(150, 150, 150);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.last-price {
    color: blue;
    text-decoration: line-through;
    font-weight: 600;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

