.cookie-div {
    margin-top: 55px;
}

.cookie-title {
    color: rgb(29, 29, 29);
    font-size: 30px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cookie-ingridients {
    font-size: 14px;
    width: 70%;
    margin-left: 14%;

}

.view-btn{
    font-size: 13px;
    font-weight: 600;
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(49, 29, 18); 
    background: none;
    width: 110px;
    height: 45px;
    margin-top: 50px;
    position: relative;
}

.view-btn::before{
    position: absolute;
    content: '';
    width:0;
    height: 100%;
    background: rgb(49, 29, 18);
    top: 0;
}

.view-btn:hover{
    color: white;
    transition: 1s;
}

.view-btn1:hover::before{
    width: 100%;
    left: 0;
    transition: 1s;
    z-index: -1;
}