.free-ad {
    background-color: rgb(68, 39, 16);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.ad-link:hover {
    text-decoration: underline;
    color: blanchedalmond;
}

.white-color {
    color: white;
}

.logo {
    margin-top: 20px;
    font-size: 33px;
    font-weight: 700;
}

.header {
    height: 550px;
    /* background-image: url("https://simplychocolatecph.com/cdn/shop/files/Hero_Web_desk_2024_2.png?v=1706276336&width=1400"); */
}

.header-menu {
    display: flex;
    justify-content: space-around;
    color: white;
}

.header-menu:hover {
    color: black;
    background-color: white;
}

.menu {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.menu:hover {
    background-color: white;
    text-decoration: underline;
    color: black;
}



.list {
    display: none;
   
}

.menu-links {
    color: white;
}

.menu-links:hover {
    color: black;
}

.has-dropdown {
    position: relative;
    margin-top: 15px;
}

.has-dropdown:hover .list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    position: absolute;
    top: 20px;
    color: black;
}

.icons-div {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-icons {
    float: left;
}

.icon {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.header-icons {
    display: flex;
    justify-content: space-evenly;
}

.menu-links {
    text-decoration: none;
}

.menu-links:hover {
    text-decoration: underline;
}

.search-div {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.219);
    height: 100vh;
    z-index: 99999999999;
    border: none;
}


.input-div {
    background-color: white;
    width: 100%;
    height: 150px;
    display: flex;
    color: black;
    justify-content: center;
}

.search-input {
    width: 80%;
    height: 50px;
    border: none;
    margin-top: 45px;
    font-size: 17px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sec-search-icon {
    margin-top: 45px;
}

.close-search {
    cursor: pointer;
    color: black;
    font-size: 20px;
    margin-right: 45px;
}

.search-input-close {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

}