.free-ad {
    background-color: rgb(68, 39, 16);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.ad-link:hover {
    text-decoration: underline;
    color: blanchedalmond;
}

.white-color {
    color: white;
}

.logo {
    margin-top: 20px;
    font-size: 33px;
    font-weight: 700;
}

.header {
    background-image: url(https://simplychocolatecph.com/cdn/shop/files/Hero_Web_desk_2024_2.png?v=1706276336&width=1400);
    height: 550px;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    color: white;
}

.header-menu:hover {
    color: black;
    background-color: white;
}

.menu {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.menu:hover {
    background-color: white;
    text-decoration: underline;
    color: black;
}

/* .dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

} */

.list {
    display: none;
}

.dropdown:hover .list {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 80%;
    height: 450px;
    margin-right: 600px;
    position: absolute;
}


.search-div {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.header-icons {
    float: left;
}

.icon {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.premium {
    color: white;
    margin-top: 120px;
    width: 480px;
    padding: 15px;
    margin-left: 35px;
}

.big-title {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.shop {
    font-size: 13px;
    font-weight: 600;
    color: black;
    border-radius: 5px;
    border: 1px solid white; 
    background: white;
    width: 110px;
    height: 45px;
    margin-top: 50px;
    position: relative;
}

.shop::before{
    position: absolute;
    content: '';
    width:0;
    height: 100%;
    top: 0;
}

.shop:hover{
    color: white;
    transition: 1s;
    background: none;
}

.shop1:hover::before{
    width: 100%;
    left: 0;
    transition: 1s;
    z-index: -1;
}


.header-icons {
    display: flex;
    justify-content: space-evenly;
}